h3
  {
    font-size: 25px !important;
  }
#Why:hover
{
	background-color: orange;
}
  canvas {
	  animation-name: AnimationPRO;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
  }


@keyframes AnimationPRO {

  from {box-shadow: 1px 1px 40px crimson;}
  to {box-shadow: 1px 1px 40px yellowgreen;}
}